<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table id="spuListDatagrid" class="easyui-datagrid" style="width:100%;height:100%"
       data-options="url:'',title:'商品列表',method:'get',fitColumns:true,singleSelect:true,toolbar:'#attrTb'">
    <thead>
    <tr>
        <!--        field 需要和bean里面的字段名一样-->
        <th data-options="field:'id',width:'20%'">商品id</th>
        <th data-options="field:'spuName',width:'30%'">商品名称</th>
        <th data-options="field:'description',width:'50%'">商品描述</th>
    </tr>
    </thead>
</table>
<div id="attrTb">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="addSpuInfo()">添加</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="addSkuInfo()">增加sku</a>
    <br>
    <!--    url接口路径获取json数据，valueFeld：id textFeld: 显示的数据 需要对应bean的字段   -->
    <!--  onSelect 在用户选择列表项的时候触发 rec：可以取到值 clear：清空列表 url：调用接口 只有选中的时候才会调用到个方法onSelect-->
    一级分类：<input id="catalog1ForSpuList" class="easyui-combobox" name="catalog1"
                data-options="valueField:'id',textField:'name',url:'catalog1List',method:'get' ,
            onSelect:function(rec){
            $('#catalog2ForSpuList').combobox('clear');
            $('#catalog2ForSpuList').combobox({'url':'catalog2List?catalog1Id='+rec.id});
            }"/>
    二级分类：<input id="catalog2ForSpuList" class="easyui-combobox" name="catalog2"
                data-options="valueField:'id',textField:'name',url:'',method:'get',
            onSelect:function(rec){
            $('#catalog3ForSpuList').combobox('clear');
            $('#catalog3ForSpuList').combobox({'url':'catalog3List?catalog2Id='+rec.id});
            }"/>
    三级分类：<input id="catalog3ForSpuList" class="easyui-combobox" name="catalog3"
                data-options="valueField:'id',textField:'name',method:'GET',url:'',
            onSelect:function(rec){
               $('#spuListDatagrid').datagrid({'url':'spuList?catalog3Id='+ rec.id});
            }"/>
    <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="javascript:reloadAttrList()">刷新属性列表</a>
</div>
<div th:include="spuInfoPage"></div>
<div th:include="skuInfoPage"></div>
<script>
    function addSkuInfo() {
        $('#spu_dlg').dialog('open');
        initSpuDlg();
    }
</script>
</body>
</html>





















