<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- 可以不要body -->
<!-- 需要一个弹出框 -->
<!-- resizable:true ：可拉缩  modal:true：模态框-->
<div id="spuSaleAttrDlg" class="easyui-dialog" title="销售属性" style="width:500px;height:400px;"
     data-options="iconCls:'icon-save',resizable:true,closed:true,buttons:'#saleAttrBtn',modal:true">
<!--    下拉菜单 -->
     销售属性:  <select id="saleAttrValueDlg" class="easyui-combobox" name="dept" style="width:200px;"
             data-options="valueField:'id',textField:'name',url:'/baseSaleAttrList'">
    </select>
    <br/>
    <br/>
    <table class="easyui-datagrid" style="width:400px;height:250px"
           data-options="url:'datagrid_data.json',fitColumns:true,singleSelect:true">
    </table>
</div>
<div id="saleAttrBtn">
    <a href="#" class="easyui-linkbutton">保存</a>
    <a href="#" class="easyui-linkbutton">关闭</a>
</div>
<script>
    function initSpuSaleAttrDlg() {
        $("#spuSaleAttrDlg").dialog("open");

        initSpuSaleAttrValue();
    }
    function initSpuSaleAttrValue() {
        var saleAttrValueDg = $("#saleAttrValueDlg").datagrid("load",{

        })
        saleAttrValueDg.datagrid()({
            columns:[[
                {field:'code',title:'代码',width:100},
                {field:'name',title:'名称',width:100},
                {field:'price',title:'价格',width:100,align:'right'}
            ]]
        })
    }
</script>
</html>

































